# **Tourist Rental Market Analysis**

**Focus**: Find the types of properties that have the best potential for vacation rentals.

In [1]:
import pandas as pd
import numpy as np

In [2]:
listings = pd.read_csv("Data/listings.csv")
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31.0,4,33,2018-07-15,0.28,2,83,0,NaN
1,24805,Gran Via Studio Madrid,346366726,Alvaro,Centro,Universidad,40.42183,-3.70529,Entire home/apt,104.0,5,43,2024-06-01,0.37,1,113,13,NaN
2,40718,COZY APARTMENT CIBELES-GRAN VIA-PTA DEL SOL-CH...,34217435,Luis,Centro,Justicia,40.41969,-3.69736,Entire home/apt,114.0,2,150,2024-05-30,0.89,15,310,20,NaN
3,40916,Holiday Apartment Madrid Center,130907,Dana,Centro,Universidad,40.42247,-3.70577,Entire home/apt,NaN,5,49,2021-12-11,0.30,3,0,0,NaN
4,30320,Great Vacational Apartments,130907,Dana,Centro,Sol,40.41476,-3.70418,Entire home/apt,NaN,5,172,2022-09-26,1.01,3,0,0,NaN

In [3]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26924 entries, 0 to 26923
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              26924 non-null  int64
 1   name                            26924 non-null  object
 2   host_id                         26924 non-null  int64
 3   host_name                       26920 non-null  object
 4   neighbourhood_group             26924 non-null  object
 5   neighbourhood                   26924 non-null  object
 6   latitude                        26924 non-null  float64
 7   longitude                       26924 non-null  float64
 8   room_type                       26924 non-null  object
 9   price                           21620 non-null  float64
 10  minimum_nights                  26924 non-null  int64
 11  number_of_reviews               26924 non-null  int64
 12  last_review                     21068 non-null  object
 13  reviews_per_month               21068 non-null  float64
 14  calculated_host_listings_count  26924 non-null  int64
 15  availability_365                26924 non-null  int64
 16  number_of_reviews_ltm           26924 non-null  int64
 17  license                         2742 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 3.7+ MB

In [4]:
listings_det = pd.read_csv('Data/listings.csv.gz', compression='gzip')
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31.0,4,33,2018-07-15,0.28,2,83,0,NaN
1,24805,Gran Via Studio Madrid,346366726,Alvaro,Centro,Universidad,40.42183,-3.70529,Entire home/apt,104.0,5,43,2024-06-01,0.37,1,113,13,NaN
2,40718,COZY APARTMENT CIBELES-GRAN VIA-PTA DEL SOL-CH...,34217435,Luis,Centro,Justicia,40.41969,-3.69736,Entire home/apt,114.0,2,150,2024-05-30,0.89,15,310,20,NaN
3,40916,Holiday Apartment Madrid Center,130907,Dana,Centro,Universidad,40.42247,-3.70577,Entire home/apt,NaN,5,49,2021-12-11,0.30,3,0,0,NaN
4,30320,Great Vacational Apartments,130907,Dana,Centro,Sol,40.41476,-3.70418,Entire home/apt,NaN,5,172,2022-09-26,1.01,3,0,0,NaN

In [5]:
listings_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26924 entries, 0 to 26923
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            26924 non-null  int64
 1   listing_url                                   26924 non-null  object
 2   scrape_id                                     26924 non-null  int64
 3   last_scraped                                  26924 non-null  object
 4   source                                        26924 non-null  object
 5   name                                          26924 non-null  object
 6   description                                   25958 non-null  object
 7   neighborhood_overview                         13306 non-null  object
 8   picture_url                                   26922 non-null  object
 9   host_id                                       26924 non-null  int64
 10  host_url                                      26924 non-null  object
 11  host_name                                     26920 non-null  object
 12  host_since                                    26920 non-null  object
 13  host_location                                 18508 non-null  object
 14  host_about                                    12979 non-null  object
 15  host_response_time                            22009 non-null  object
 16  host_response_rate                            22009 non-null  object
 17  host_acceptance_rate                          22907 non-null  object
 18  host_is_superhost                             26769 non-null  object
 19  host_thumbnail_url                            26920 non-null  object
 20  host_picture_url                              26920 non-null  object
 21  host_neighbourhood                            9720 non-null   object
 22  host_listings_count                           26920 non-null  float64
 23  host_total_listings_count                     26920 non-null  float64
 24  host_verifications                            26920 non-null  object
 25  host_has_profile_pic                          26920 non-null  object
 26  host_identity_verified                        26920 non-null  object
 27  neighbourhood                                 13306 non-null  object
 28  neighbourhood_cleansed                        26924 non-null  object
 29  neighbourhood_group_cleansed                  26924 non-null  object
 30  latitude                                      26924 non-null  float64
 31  longitude                                     26924 non-null  float64
 32  property_type                                 26924 non-null  object
 33  room_type                                     26924 non-null  object
 34  accommodates                                  26924 non-null  int64
 35  bathrooms                                     21598 non-null  float64
 36  bathrooms_text                                26888 non-null  object
 37  bedrooms                                      24712 non-null  float64
 38  beds                                          21565 non-null  float64
 39  amenities                                     26924 non-null  object
 40  price                                         21620 non-null  object
 41  minimum_nights                                26924 non-null  int64
 42  maximum_nights                                26924 non-null  int64
 43  minimum_minimum_nights                        26924 non-null  int64
 44  maximum_minimum_nights                        26924 non-null  int64
 45  minimum_maximum_nights                        26924 non-null  int64
 46  maximum_maximum_nights                        26924 non-null  int64
 47  minimum_nights_avg_ntm                        26924 non-null  float64
 48  maximum_nights_avg_ntm                        26924 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              25388 non-null  object
 51  availability_30                               26924 non-null  int64
 52  availability_60                               26924 non-null  int64
 53  availability_90                               26924 non-null  int64
 54  availability_365                              26924 non-null  int64
 55  calendar_last_scraped                         26924 non-null  object
 56  number_of_reviews                             26924 non-null  int64
 57  number_of_reviews_ltm                         26924 non-null  int64
 58  number_of_reviews_l30d                        26924 non-null  int64
 59  first_review                                  21068 non-null  object
 60  last_review                                   21068 non-null  object
 61  review_scores_rating                          21068 non-null  float64
 62  review_scores_accuracy                        21027 non-null  float64
 63  review_scores_cleanliness                     21026 non-null  float64
 64  review_scores_checkin                         21026 non-null  float64
 65  review_scores_communication                   21027 non-null  float64
 66  review_scores_location                        21024 non-null  float64
 67  review_scores_value                           21023 non-null  float64
 68  license                                       2742 non-null   object
 69  instant_bookable                              26924 non-null  object
 70  calculated_host_listings_count                26924 non-null  int64
 71  calculated_host_listings_count_entire_homes   26924 non-null  int64
 72  calculated_host_listings_count_private_rooms  26924 non-null  int64
 73  calculated_host_listings_count_shared_rooms   26924 non-null  int64
 74  reviews_per_month                             21068 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 15.4+ MB

Reviews

In [6]:
reviews = pd.read_csv('Data/reviews.csv')
print(reviews.head())
print(reviews.info())

   listing_id        date
0       21853  2014-10-10
1       21853  2014-10-13
2       21853  2014-11-09
3       21853  2014-11-11
4       21853  2014-11-16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189990 entries, 0 to 1189989
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1189990 non-null  int64
 1   date        1189990 non-null  object
dtypes: int64(1), object(1)
memory usage: 18.2+ MB
None

In [ ]:
import sqlalchemy as sa
import pyodbc
import pandas as pd
from sqlalchemy.engine import URL

In [9]:
# Configuración de la conexión
server = "DESKTOP-KF977R7"  # Reemplace con el nombre de su servidor
database = "RentalMKT"  # Reemplace con el nombre de su base de datos

# URL conexion with Windows authentication
connection_url = URL.create(
    "mssql+pyodbc",
    username="",  
    password="",  
    host=server,
    database=database,
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "TrustServerCertificate": "yes",
        "authentication": "ActiveDirectoryIntegrated",
    },
)

engine = sa.create_engine(connection_url)

listings.to_sql('listings', con=engine, if_exists='replace', index=False)
listings_det.to_sql('listings_det', con=engine, if_exists='replace', index=False)

print("Datos cargados exitosamente en SQL Server.")

Datos cargados exitosamente en SQL Server.